/* ini css */

.main-title {
    text-align: center;
}

/* mengatur jarak type number dari radio button*/
.input-distance {
    height: 1.5cm;
}

/* agar bisa kanan kiri */
main {
    display: flex;
    justify-content: space-around;
}

/* mengatur jarak antar kanan kiri */
.main-content {
    flex: 1;
    padding: 12px;
}

.input-title {
    font-size: 14px;
    font-weight: bold;
}

form {
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

/* mengatur ukuran button */
.button {
    height: 40px;
    border-radius: 8px;
}

/* color submit */
.submit {
    background-color: aqua;
    border: 12px solid aqua;
}

/* color reset */
.reset {
    background-color: white;
    border: 12px solid white;
}

/* form */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/* form animasi */
input[type=number]:focus {
    border: 3px solid #555
}

/* result section right */
.result-section {
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
}

/* result submit */
.result-bmi {
    font-size: 36px;
    font-weight: 900;
    color: blueviolet;
    background-color: aqua;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
}

/* result comment */
.result-comment {
    color: blue;
    font-weight: 800;
}

/* color download */
.download {
    background-color: aqua;
    border: 12px solid aqua;
}

/* color konsultasi */
.konsultasi {
    background-color: aqua;
    border: 12px solid aqua;
}